.profile {
  max-width: 1280px;
  margin: 0 auto;
  color: #fff;

}


.profile__container {
  max-width: 410px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media screen and (max-width: 480px) {
  .profile__container {
    margin: 0 18px;

  }
}


.profile__greeting {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 54px 0px 123px;

}


@media screen and (max-width: 768px) {
  .profile__greeting {
    padding: 233px 0px 95px;

  }
}

@media screen and (max-width: 480px) {
  .profile__greeting {
    padding: 66px 0px 81px;

  }
}

.profile__label {
  width: 100%;
  min-height: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 16px 0;
  margin: 0 0 17px;
  border-bottom: 1px solid #424242;
}

@media screen and (max-width: 480px) {
  .profile__label {
    max-width: 260px;
    margin: 0 auto 17px;
  }
}

.profile__label:last-of-type {
  padding-bottom: 220px;
  margin: 0 auto;
  border: none;
}

@media screen and (max-width: 768px) {
  .profile__label:last-of-type {
    padding-bottom: 212px;
  }
}

@media screen and (max-width: 480px) {
  .profile__label:last-of-type {
    padding-bottom: 380px;

  }
}


.profile__label-span {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #FFF;
}

.profile__input {
  max-width: 122px;
  background-color: inherit;
  border: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}

.profile__input:focus {
  outline: none;
}

.profile__button {
  background: none;
  box-shadow: none;
  border: none;
  padding: 0;
  font-weight: 400;
  color: #fff;
  margin: 0 0 16px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}



.profile__button_red {
  font-weight: 500;
  color: #ee3465;
}

.profile__button:last-of-type {
  margin: 0 0 50px 0;
}


.profile__nav {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__form {
  width: 100%;
  margin: 0 auto;
}