.about-project__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    max-width: 1140px;
    margin: 0 auto;
    padding: 110px 0 23px;
    border-bottom: 1px solid #DADADA;
}

@media screen and (max-width: 768px) {
    .about-project__title{
        max-width: 668px;
        padding-top: 90px;
    }
}

.about-project {
    max-width: 1280px;
    margin: 0px auto;
}


.about-project__description-blocks {
    display: flex;
    max-width: 1140px;
    gap: 40px;
    margin: 0px auto;
    padding-top: 70px;
}

@media screen and (max-width: 768px) {
    .about-project__description-blocks{
        max-width: 668px;

    }
}

.about-project__description-item {
    display: block;
    max-width: 550px;
}

.about-project__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0;
}

.about-project__info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 26px;
}

.about-project__chart {
    display: grid;
    grid-template-columns: 228px 1fr;
    grid-template-rows: repeat(2, 36px);
    max-width: 1140px;
    margin: 0px auto;
    padding: 110px 0 105px;
}

@media screen and (max-width: 768px) {
    .about-project__chart{
        max-width: 668px;
        padding: 93px 0 90px;
    }
}

.about-project__week {
    background: #303030;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-project__week:first-of-type {
    background-color: #3DDC84;
    color: #000000;
    
}

.about-project__week-info {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    display: flex;
    align-items: center;
    justify-content: center;
}