.about-me__info {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    padding: 0;
}

.about-me {
    max-width: 1280px;
    margin: 0 auto;
}

.about-me__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin: 0;
    padding: 18px 0px 26px;
}

.about-me__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0;
}

.about-me__infoblock {
    max-width: 1140px;
    margin: 0px auto;
    padding: 66px 0 100px;
    display: flex;
    justify-content: space-between;
}

.about-me__info-person {
    max-width: 600px;
    margin: 0;
    display: inline-block;
}

.about-me__link {
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 99px;
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.about-me__link:hover {
    opacity: 0.8;
}

.about-me__avatar {
    border-radius: 10px;
    max-width: 270px;
    max-height: 327px;
}